/***
 *    ██████╗ ███████╗ ██████╗ ██╗      █████╗  ██████╗ ███████╗    ██████╗  ██████╗ ██╗     ██╗ ██████╗███████╗     ██╗██████╗ ███████╗███╗   ███╗
 *    ██╔══██╗██╔════╝██╔════╝ ██║     ██╔══██╗██╔════╝ ██╔════╝    ██╔══██╗██╔═══██╗██║     ██║██╔════╝██╔════╝    ███║██╔══██╗██╔════╝████╗ ████║
 *    ██████╔╝█████╗  ██║  ███╗██║     ███████║██║  ███╗█████╗      ██████╔╝██║   ██║██║     ██║██║     █████╗      ╚██║██████╔╝█████╗  ██╔████╔██║
 *    ██╔══██╗██╔══╝  ██║   ██║██║     ██╔══██║██║   ██║██╔══╝      ██╔═══╝ ██║   ██║██║     ██║██║     ██╔══╝       ██║██╔══██╗██╔══╝  ██║╚██╔╝██║
 *    ██║  ██║███████╗╚██████╔╝███████╗██║  ██║╚██████╔╝███████╗    ██║     ╚██████╔╝███████╗██║╚██████╗███████╗     ██║██║  ██║███████╗██║ ╚═╝ ██║
 *    ╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝    ╚═╝      ╚═════╝ ╚══════╝╚═╝ ╚═════╝╚══════╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝
 *                                                                                                                                                 
 */
/*
* Réglage de la taille de la police de base (1rem) pour Mobile et TABLETTE
*/
@media screen and (max-width: 992px) {   /* Extra Small, Small : sm, Medium : md, Large : lg */
	html {
		font-size: 66%;
	}
}
/*
* Réglage de la taille de la police de base (1rem) pour Ecan PC XL
*/
@media screen and (min-width: 1200px) {   /* Extra Large : xl */
	html {
		font-size: 100%;
	}
}
/*
* Réglage de la taille de la police de base (1rem) Ecan PC XXL
*/
@media screen and (min-width: 1400px) {   /* Extra Extra Large : xxl */
	html {
		font-size: 125%;
	}
}
/***   Déclaration des polices de caractères   ***/
@font-face {
    font-family: 'Permanent Marker';
    src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rock Salt';
    src: url('../fonts/RockSalt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* body {
    background-color: #278880;
    color: #FFFFFF;
    font-family: 'Rock Salt', cursive;
    font-size: 1rem;
} */

.navbar-brand img {
    height: 2rem;
}