<article class="d-flex flex-column">

	<div class="card my-5 bg-info bg-gradient bg-opacity-50 border border-primary border-3 rounded-top shadow">
		<img src="../../assets/img/affiche_la_piedthone.jpg" class="card-img-top rounded-0 bg-info bg-opacity-75"
			alt="...">
		<div class="card-body">
			<h5 class="card-title">Inscription 2022</h5>
			<p class="card-text">Les inscriptions sont ouvertes, allez-y ! Go...</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card my-5 bg-info bg-gradient bg-opacity-50 border border-primary border-3 rounded-top shadow">
		<img src="../../assets/img/coloreton.jpg" class="card-img-top rounded-0 bg-info bg-opacity-75" alt="...">
		<div class="card-body">
			<h5 class="card-title">Actu</h5>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum repellendus rem,
				labore
				molestias quibusdam nihi18l</p>
		</div>
	</div>

</article>