<article class="d-flex flex-column">

	<h1 class="my-5 text-center text-warning fw-bold">{{g.titre}}</h1>

	<article
		class="my-4 bg-warning bg-gradient bg-opacity-50 border border-warning border-3 rounded p-3 text-center fs-4 fw-bold">
		La Piedthone virtuel RUN course à allure libre sur 4 distances au choix : 2, 4 ,6 ou 10 kms
	</article>

	<article
		class="my-4 bg-success bg-gradient bg-opacity-50 border border-success border-3 rounded p-3 text-center fs-4 fw-bold">
		L’intégralité de vos frais d’inscription seront reversés au profit de l’AFM-Téléthon.
	</article>

	<article class="my-3 bg-info bg-gradient bg-opacity-50 border border-primary border-3 rounded-top shadow">
		<h4 class="p-3 bg-info bg-gradient">La Piedthone</h4>
		<section class="p-3">
			<p>Vous êtes un amateur de running ou de marche, vous recherchez le plaisir de participer à un événement
				pour
				soutenir l'AFM TELETHON et ses combats contre la maladie.</p>
			<p>Participez entre amis, collègues, groupe sportif, étudiants, en famille avec qui vous voulez ou vous
				voulez.
			</p>
			<p>Ce n’est pas une compétition sportive, mais, un footing, marche , faite au rythme et distance de chacun
				!!
			</p>
			<p>Les participants doivent avoir conscience de la longueur des distances. Les participants doivent
				respecter
				l’esprit de l’évènement : Fair-play sportif, bonne humeur, détente et prudence.</p>
			<p>Cet événement est fait pour vous !</p>
			<p>L’AFM-Téléthon, c’est le combat de malades et de parents déterminés à vaincre la maladie.</p>
			<p>Sa stratégie d’intérêt général profite au plus grand nombre !</p>
			<p>Les sommes récoltées seront reversées au profit de l'AFM Téléthon.</p>
		</section>
	</article>
	<article class="my-3 bg-info bg-gradient bg-opacity-50 border border-primary border-3 rounded-top shadow">
		<h4 class="p-3 bg-info bg-gradient">AFM-Téléthon</h4>
		<section class="p-3">
			<p><a href="https://www.afm-telethon.fr/fr" target="_blank">L’AFM-Téléthon</a> est née d’une conviction et
				d’une
				volonté : guérir des maladies longtemps considérées comme incurables. Pour réussir, l’association s’est
				fixée une règle d’or : la rigueur et l’efficacité.</p>
			<p>L’Association mène une stratégie d’intérêt général. L’innovation scientifique, médicale et sociale
				qu’elle
				impulse bénéficie à l’ensemble des maladies rares et des personnes en situation de handicap et fait
				avancer
				la médecine toute entière.</p>
			<a href="https://don.telethon.fr/" target="_blank" class="btn btn-primary">Faire un don pour le TELETHON</a>
		</section>
	</article>
	<a class="d-block my-4 bg-danger p-3 bg-gradient bg-opacity-50 border border-danger border-3 rounded text-body text-decoration-none text-center fs-4 fw-bold" routerLink="/accueil/reglement">
		Le réglement et les modalités.
	</a>
	</article>
