#fondMain {
    background-image: url('../assets/img/fond_main.png');
    background-size: cover;
    background-position: center;
    
	// padding-top: 14rem;		// height de header
	padding-bottom: 16rem;	// height de header + footer soit 14rem + 2rem
}