<article class="d-flex flex-column">
    <h1 class="my-5 text-center text-warning fw-bold">Le Règlement de La Piedthone</h1>

    <article class="my-3 bg-info bg-gradient bg-opacity-50 border border-primary border-3 rounded-top shadow">
        <h4 class="p-3 bg-info bg-gradient">Mode d'emploi</h4>
        <section class="p-3">
            <p>Merci pour votre inscription et votre participation à la course « Virtual RUN Piedthone ! au profitde la
                AFM-Téléthon !</p>
            <p>Maintenant que vous êtes inscrit, voici le mode d’emploi pour prendre le départ :</p>
            <ul>
                <li>Vous allez recevoir la confirmation d’inscription et télécharger vote dossard</li>
                <li>Partagez votre challenge sur les réseaux sociaux avec leshashtag#VirtualRunPiedthone #LaPiedthone
                    #Telethon2022 #TropFort avant, pendant et après votre course pour soutenir l'AFM-Téléthon (par
                    exemple : une photo de vous pendant votre challenge avec le dossard que vous aurez pu imprimer après
                    l'avoir téléchargé). Partagez une capture d’écran de votre run application, postez la avec votre
                    photo sur les réseaux sociaux en mentionnant les hashtags #VirtualRunPiedthone
                    #LaPiedthone#Telethon202#TropFortet/ou envoyez la sur l’adresse mail
                    lapiedthone@institutmyologie.org</li>
                <li>A la fin de « La virtual RUN Piedthone » c'est à dire en début d'année 2023, vous allez recevoirun
                    diplôme de participation à votre nom signé de la présidente de l’AFM-Téléthon
                    N'oubliez pas de lancer votre RUN APPLICATION</li>
                <li>Jusqu’au 09 janvier 2023, effectuez la distance choisie dans le lieu que vous souhaitez.1 fois 2
                    fois chaque fois que vous allez courir.
                    Bonne course à vous !</li>
                <li>Soutenez cette initiative sportive solidaire et faites grimper le compteur du Téléthon en effectuant
                    un don au profit de l'AFM- Téléthon https://www.afm-telethon.fr/</li>
                <li>L’AFM-TELETHON est née d’une conviction et d’une volonté : guérir des maladies longtempsconsidérées
                    comme incurables. Pour réussir, l’association s’est fixée une règle d’or : la rigueur et
                    l’efficacité. L’Association mène une stratégie d’intérêt général. L’innovation scientifique,
                    médicale et sociale qu’elle impulse bénéficie à l’ensemble des maladies rares et des personnes en
                    situation dehandicap et fait avancer la médecine toute entière.</li>
            </ul>
        </section>
        <h4 class="p-3 bg-info bg-gradient">Règlement</h4>
        <section class="p-3">
            <h5>EXTRAIT</h5>
            <ul>
                <li>Je déclare participer sous mon entière responsabilité avec renonciation à tous recours contre
                    l’organisation « La Piedthone » en cas d'accident provoqué par une déficience physique ou psychique.
                </li>
                <li>Je déclare avoir pris connaissance du règlement de cet évènement.</li>
                <li>Les mineurs participeront sous l'entière responsabilité de leurs parents.</li>
            </ul>
            <h5>REGLEMENT ORGANISATEUR PIEDTHONe 2022</h5>
            <p>Règlement de la course/marche connectée « La Piedthone 2022 ».</p>
            <p>16ème édition de « LA PIEDTHONe », 3ème « Virtual RUN Piedthone ! » à allure libre.</p>
            <p>La Piedthone marche ou course à allure libre sur 4 distances au choix : 2, 4 ,6 ou 10 kms.</p>
            <p>La Piedthone n’est pas une compétition officielle, il n’y aura pas de classement.</p>
            <ul>
                <li>
                    <h6>Art.1 : Description</h6>
                    <p>La 16 ème édition de « LA PIEDTHONe », 3ème « Virtual RUN Piedthone ! » à allure libre est une
                        manifestation accréditée 0750021 qui se déroulera jusqu’au 9 janvier 2023 au profit du
                        TELETHON 2022.
                        Les participants doivent avoir conscience de la longueur du parcours et des distances. La
                        Piedthone n’est pas une compétition. Les participants doivent respecter l’esprit de l’évènement
                        : fair-play, bonne humeur, détente et prudence.
                        Face à trop d'incertitudes du fait de la crise sanitaire, les organisateurs de la 16ème
                        Piedthone vous proposent de participer de nouveau cette année à la 3ème « Virtual RUN Piedthone
                        ! » L’intégralité de vos frais d’inscription seront reversés à l’AFM Téléthon pour soutenir la
                        recherche sur le muscle et les maladies rares, au profit du Téléthon 2023.</p>
                </li>
                <li>
                    <h6>Art.2 : Inscriptions</h6>
                    <p>Les inscriptions se font exclusivement par internet, sur le site web
                        https://piedthone.wixsite.com/piedthone et HelloAsso de la Myocoop. Les frais d’inscriptions
                        comprennent : un dossard personnalisé aux couleurs de l’événement et un diplôme à la fin de
                        l’évènement.
                        Tout engagement est personnel, ferme et définitif, et ne peut faire l’objet d’un remboursement
                        pour quelque motif que ce soit. Aucun transfert d’inscription n’est autorisé pour quelque motif
                        que ce soit.

                        Comment participer
                        Vous recevrez un mail vous permettant d'avoir des informations relatives à la course connectée
                        et d'obtenir votre dossard, que vous pourrez imprimer. Par la suite vous n'avez plus qu'à faire
                        la distance de votre choix (nombre illimité) avec votre
                        montre ou smartphone connecté si vous le souhaitez.


                        A la fin de la distance choisie. Prenez une capture d’écran de votre run application, poster la
                        avec votre photo sur les réseaux sociaux #LaPiedthone hashtags #Telethon2022 #TropFort et/ou
                        envoyer la sur l’adresse mail : lapiedthone@institut-myologie.org afin qu’on la publie sur notre
                        site web et/ou sur le site de l’AFM-TELETHON.
                        A la fin de « La virtual RUN Piedthone 2022 » vous allez recevoir un diplôme de participation
                        àvotre nom. N'oubliez pas de lancer votre RUN APPLICATION</p>
                </li>
                <li>
                    <h6>Art.3 : Tarifs et paiements</h6>
                    <p>· 2 kms : 5 euros
                        · 4 kms : 5 euros
                        · 6 kms : 10 euros
                        · 10 kms : 10 euros
                        Le règlement de la participation individuelle se fait au moment de l’inscription sur le site
                        susnommé à l’article 2.</p>
                </li>
                <li>
                    <h6>Art.4 : Retraits des dossards</h6>
                    <p>Votre recevrez votre dossard par mail lors de votre inscription. Il vous suffira de l’imprimer et
                        le fixer lors de votre run</p>
                </li>
                <li>
                    <h6>Art.5 : Distance</h6>
                    <p>Vous pouvez choisir la distance que vous souhaitez et qui vous convient le mieux : 2 kms, 4 kms,
                        6 kms ou 10 kms
                        Le certificat médical n’est pas obligatoire. La participation n’ouvre pas de droit à un
                        classementchronométré. Toutefois il conviendra donc de prendre en compte notamment les
                        conditions climatiques et ses capacités physiques personnelles, et d’adapter son activité en
                        fonction.</p>
                </li>
                <li>
                    <h6>Art. 6 : Lieux</h6>
                    <p>Où vous voulez, c'est le principe d'une course connectée : 13e Arrondissement de Paris et les
                        autres arrondissements, Marseille, Lille, Toulouse, Bordeaux, Lyon, St Brieuc, Chartres, Boëge,
                        Honolulu, Londres, Berlin, Rome, New-York, Melbourne, Québec.. La participation peut s’effectuer
                        partout où vous le souhaitez, de façon libre, dans le respect des espaces naturels traversés, du
                        code de la route et de l’utilisation des lieux où l’activité est réalisée. Cela pourra être dans
                        Paris 13 mais aussi dans toute autre ville en France ou à l’étranger ou tout lieu que vous
                        choisirez pour votre participation. Chaque participant devra avoir pris ses dispositions de
                        façon à réaliser le challenge dans des conditions optimales. Il conviendra donc de prendre en
                        compte notamment les conditions climatiques et ses capacités physiques personnelles, et
                        d’adapter son activité en fonction.</p>
                </li>
                <li>
                    <h6>Art. 7 : Participants mineurs</h6>
                    <p>Les enfants et adolescents jusqu’à 17 ans devront être accompagnés par un adulte qui se
                        portera garant de leur pratique et d’adapter son activité en fonction.</p>
                </li>
                <li>
                    <h6>Art. 8 : Assurances</h6>
                    <p>Ces courses ne sont pas des compétitions officielles ; les inscrits y participent sous leur
                        entièreresponsabilité. En ce sens, chaque participant devra être en titulaire, d’une assurance
                        responsabilité civile le couvrant pour tout dommage qu’il pourrait occasionner lors de sa
                        course, en cours de validité. Être en forme physique et avoir l'habitude d'effectuer
                        régulièrement la distance choisie (ou plus) en marchant ou en courant. L’organisateur de La
                        Piedthone décline toute responsabilité en cas de dommages (vols, bris, perte, …) subis par les
                        biens personnels des participants pendant le déroulement des courses. Les participants ne
                        pourront donc se retourner contre l’organisateur pour tout dommage causé à leur équipement. La
                        souscription d’une assurance garantissant ces risques est du ressort de chacun.
                        L’organisateur de La Piedthone, décline également toute responsabilité en cas d’incident
                        physiologique futur ou immédiat. Il incombe aux participants de s’assurer personnellement.
                        L’organisation ne peut en aucun cas être tenue pour responsable en cas d’accident ou de
                        défaillance des participants notamment ceux consécutifs à un mauvais état de santé ou à une
                        préparation insuffisante. Comme indiqué ci-dessus, la participation se fait sous l’entière
                        responsabilité des participants avec renonciation à tout recours contre les organisateurs en cas
                        de dommages ou de séquelles ultérieurs lié à l’évènement. Ainsi, tout accident lié au nonrespect
                        de ces consignes engage la propre responsabilité du participant et ne saurait engager
                        celle de l’organisateur.
                    </p>
                </li>
                <li>
                    <h6>Art. 9 : Tenue vestimentaire</h6>
                    <p>Equipement sportif à la charge du participant et adapté aux conditions météo du jour de la
                        course. METTRE DU JAUNE et accrocher le dossard</p>
                </li>
                <li>
                    <h6>Art.10 : Ravitaillements</h6>
                    <p>Prévoir de quoi s’hydrater et se ravitailler avant, durant et après sa course et privilégier une
                        gourde d’eau réutilisable plutôt qu’une bouteille plastique à usage unique.</p>
                </li>
                <li>
                    <h6>Art.11 : Récompenses</h6>
                    <p>Récompenses pour tous les participants : un dossard aux couleurs de l’événement « 3 ème Piedthone
                        Virtual Run » et un diplôme d’après-course personnalisé, signé de la prsidente de l'AFM-Téléthon
                    </p>
                </li>
                <li>
                    <h6>Art. 12 : Engagement</h6>
                    <p>Tout engagement est ferme et définitif et ne peut faire l’objet de remboursement pour quel que
                        motif que ce soit. La participation est entièrement reversée à l’AFM-TELETHON au profit du
                        Téléthon 2022.</p>
                </li>
                <li>
                    <h6>Art. 13 : Annulation</h6>
                    <p>L’organisation se réserve le droit d’annuler la manifestation totalement ou partiellement en cas
                        de force majeure sans que les participants puissent prétendre à un quelconque remboursement.</p>
                </li>
                <li>
                    <h6>Art. 14 : Droit à l’image</h6>
                    <p>Chaque participant de la Piedthone 2022 qui publiera des photos de son choix ou transmettra ses
                        photos aux organisateurs autorise l'AFM-TELETHON et ses entités affiliées à les utiliser aux
                        seules fins de communications liées à l’événement La Piedthone au profit de l’AFM-TELETHON et du
                        Téléthon 2022, et ce, sur tout support y compris digitaux (web et réseaux sociaux).</p>
                </li>
                <li>
                    <h6>Art.15 : RGPD (Règlement Général sur la Protection des Données à caractère personnel)</h6>
                    <p>Conformément au texte européen dit RGPD, entré en application le 25 mai 2018, les participants
                        sont informés qu’ils bénéficient d’un droit d’accès et de modification pour les informations
                        communiquées lors de leur inscription. Ces données ne seront utilisées que dans le cadre de
                        l’organisation de la Piedthone pour la communication d’informations relatives à la
                        manifestation. En validant leur inscription à la manifestation, les participants donnent leur
                        consentement explicite pour recevoir par courriel des messages d’information relatifs à
                        l’évènement. Les participants sont informés qu’ils peuvent à tout moment exercer leurs droits
                        d’accès et de modification de leurs données personnelles, ou leur “droit à l’oubli”, en
                        adressant la demande à l’organisation à l’adresse courriel lapiedthone@institut-myologie.org</p>
                </li>
                <li>
                    <h6>Art. 16 : Protection de l'environnement</h6>
                    <p>Il convient de respecter et laisser les lieux de votre parcours propres (ne pas jeter vos
                        déchets) et de respecter le code de la route et les espaces naturels traversés. M’engage à
                        respecter les consignes et instructions de l’organisateur. Le participant atteste être détenteur
                        d’une garantie Responsabilité Civile familiale et vie privée garantissant pour la pratique du
                        sport loisir.</p>
                </li>
            </ul>
            <p>Atteste avoir pris connaissance du règlement de la 3ème« Virtual RUN Piedthone »</p>
        </section>
    </article>
</article>