<footer>
	<nav class="d-flex flex-column flex-lg-row align-items-center justify-content-lg-center bg-dark">
		<a class="d-block rounded-circle p-3" routerLink="actualite">
			<img src="assets/img/logo_telethon.png" alt="Logo Téléthon">
		</a>
		<a class="d-block p-3 text-decoration-none text-white" routerLink="actualite">Actualité</a>
		<a class="d-block p-3 text-decoration-none text-white" routerLink="presentation">Présentation</a>
		<a class="d-block p-3 text-decoration-none text-white" routerLink="temoignage">Témoignages</a>
		<a class="d-block p-3 text-decoration-none text-white" routerLink="photo">Photos</a>
		<a class="d-block p-3 text-decoration-none text-white" routerLink="user/create">S'inscrire</a>
		<a class="d-block p-3 text-decoration-none text-white" routerLink="user/login">S'identifier</a>
		<a class="d-block p-3 text-decoration-none text-white" routerLink="reglement">Règlement</a>
	</nav>
</footer>