header {
    background-image: url('../../assets/img/fond_menu.png');
    background-size: cover;
    background-position: center;
}
h1 {
    height: 14rem;
    line-height: 8rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}
nav {
    margin-top: -6rem;
}
.navbar-brand img {
    height: 4rem;
}
.nav-link {
    font-family: 'Permanent Marker', cursive;
    text-shadow:    -0.25rem -0.25rem 0.25rem #FF8800FF,
                    0.25rem -0.25rem 0.25rem #FF8800FF,
                    -0.25rem 0.25rem 0.25rem #FF8800FF,
                    0.25rem 0.25rem 0.25rem #FF8800FF;
}
