<header>
	<h1 class="m-0 text-center text-uppercase text-warning">La Piedthone</h1>
</header>

<!-- ATTENTION : la class 'sticky-top' ne fonctionne que si l'élément 'nav' est directement enfant de 'body' -->
<nav class="navbar navbar-expand-lg sticky-top bg-warning bg-gradient bg-opacity-75">
	<div class="container-fluid">
		<a class="navbar-brand rounded-circle bg-light bg-opacity-50 p-1" routerLink="accueil/actualite"><img
				src="assets/img/logo_telethon.png" alt="Logo Téléthon"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
			aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarToggler">
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link text-white fs-2" routerLink="accueil/actualite">Actualité</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white fs-2" routerLink="accueil/presentation">Présentation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white fs-2" routerLink="accueil/temoignage">Témoignages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white fs-2" routerLink="accueil/photo">Photos</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-5 mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link text-white fs-2" routerLink="user/create">S'inscrire</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white fs-2" routerLink="user/login">S'identifier</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
