<header>
	<h1 class="m-0 text-center text-uppercase">La Piedthone</h1>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<a class="navbar-brand rounded-circle bg-light bg-opacity-50 p-1" routerLink="actualite"><img src="assets/img/logo_telethon.png" alt="Logo Téléthon"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarToggler">
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" routerLink="actualite">Actualité</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="presentation">Présentation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="temoignage">Témoignages</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="photo">Photos</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-5 mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" routerLink="user/create">S'inscrire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="user/login">S'identifier</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>