@font-face {
    font-family: 'Permanent Marker';
    src: url('../assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rock Salt';
    src: url('../assets/fonts/RockSalt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    font-family: 'Rock Salt';
}

h1 {
    background-image: url('../assets/img/banniere.jpg');
    line-height: 8rem;
    text-shadow: 0 0.5rem 0.5rem #FFFFFF;
    font-family: 'Permanent Marker', cursive;
}
nav {
    background-color: #FF8800;
}
.navbar-brand img {
    height: 4rem;
}
.nav-link {
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    color: #FFFFFF;
    text-shadow: 0 0rem 0.5rem #000000;
}