<aside class="d-flex flex-column mt-5">

    <article class="my-3 bg-info bg-gradient bg-opacity-50 border border-primary border-3 rounded-top shadow">
        <h4 class="p-3 bg-info bg-gradient text-capitalize">Sponsors</h4>
        <section class="p-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, eaque.</p>
        </section>
    </article>

    <article class="my-3 bg-info bg-gradient bg-opacity-50 border border-primary border-3 rounded-top shadow">
        <h4 class="p-3 bg-info bg-gradient text-capitalize">Twitter</h4>
        <section class="p-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, eaque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis 
                nostrum provident saepe labore ipsa sapiente, nam eveniet exercitationem minus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis 
                nostrum provident saepe labore ipsa sapiente, nam eveniet exercitationem minus!</p>
        </section>
    </article>

    <article class="my-3 bg-info bg-gradient bg-opacity-50 border border-primary border-3 rounded-top shadow">
        <h4 class="p-3 bg-info bg-gradient text-capitalize">Facebook</h4>
        <section class="p-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, eaque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis 
                nostrum provident saepe labore ipsa sapiente, nam eveniet exercitationem minus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis 
                nostrum provident saepe labore ipsa sapiente, nam eveniet exercitationem minus!</p>
        </section>
    </article>

</aside>
