<div class="card my-3 mx-auto w-50 bg-light border border-primary border-3 rounded-top shadow">
    <img src="../../assets/img/affiche_la_piedthone.jpg" class="card-img-top bg-info" alt="...">
    <div class="card-body border-top border-info">
        <h5 class="card-title">Inscription 2022</h5>
        <p class="card-text">Les inscriptions sont ouvertes, allez-y ! Go...</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card my-3 mx-auto w-50 bg-light border border-primary border-3 rounded-top shadow">
    <img src="../../assets/img/coloreton.jpg" class="card-img-top bg-info" alt="...">
    <div class="card-body border-top border-info">
        <h5 class="card-title">Actu</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum repellendus rem, labore
            molestias quibusdam nihi18l</p>
    </div>
</div>
