/***
 *    ██████╗ ███████╗ ██████╗ ██╗      █████╗  ██████╗ ███████╗    ██████╗  ██████╗ ██╗     ██╗ ██████╗███████╗     ██╗██████╗ ███████╗███╗   ███╗
 *    ██╔══██╗██╔════╝██╔════╝ ██║     ██╔══██╗██╔════╝ ██╔════╝    ██╔══██╗██╔═══██╗██║     ██║██╔════╝██╔════╝    ███║██╔══██╗██╔════╝████╗ ████║
 *    ██████╔╝█████╗  ██║  ███╗██║     ███████║██║  ███╗█████╗      ██████╔╝██║   ██║██║     ██║██║     █████╗      ╚██║██████╔╝█████╗  ██╔████╔██║
 *    ██╔══██╗██╔══╝  ██║   ██║██║     ██╔══██║██║   ██║██╔══╝      ██╔═══╝ ██║   ██║██║     ██║██║     ██╔══╝       ██║██╔══██╗██╔══╝  ██║╚██╔╝██║
 *    ██║  ██║███████╗╚██████╔╝███████╗██║  ██║╚██████╔╝███████╗    ██║     ╚██████╔╝███████╗██║╚██████╗███████╗     ██║██║  ██║███████╗██║ ╚═╝ ██║
 *    ╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝    ╚═╝      ╚═════╝ ╚══════╝╚═╝ ╚═════╝╚══════╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝
 *                                                                                                                                                 
 */
/*
* Réglage de la taille de la police de base (1rem) pour Mobile et TABLETTE
*/
@media screen and (max-width: 991px) {   /* Extra Small, Small : sm, Medium : md */
	html {
		font-size: 66%;
	}
}
/*
* Réglage de la taille de la police de base (1rem) pour Ecan PC XL
*/
@media screen and (min-width: 992px) {   /* Large : lg, Extra Large : xl */
	html {
		font-size: 80%;
	}
}
/*
* Réglage de la taille de la police de base (1rem) Ecan PC XXL
*/
@media screen and (min-width: 1400px) {   /* Extra Extra Large : xxl */
	html {
		font-size: 100%;
	}
}
/***   Déclaration des polices de caractères   ***/
@font-face {
    font-family: 'Permanent Marker';
    src: url('assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Baloo2';
    src: url('assets/fonts/Baloo2-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Baloo2';
}

h1 {
    text-shadow:    -0.25rem -0.25rem 0.25rem #ffffffff,
                    0.25rem -0.25rem 0.25rem #ffffffff,
                    -0.25rem 0.25rem 0.25rem #ffffffff,
                    0.25rem 0.25rem 0.25rem #ffffffff;
}
